<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/layout}">

<head>
    <title>Index</title>
</head>
<div layout:fragment="page_content" id="page_content">
    <div class="alert alert-primary" role="alert">
        Contracts page <b>/View Detail of Site</b>
    </div>
    <!-- Jumbotron -->
    <div class="jumbotron text-center col-md-4" style="margin:auto">
        <!-- Title -->
        <h2 class="card-title h2 blue-text">Google Site</h2>
        <!-- Subtitle -->
        <p class="black-text my-4 font-weight-bold">It belongs to Google Coke</p>

        <!-- Grid row -->
        <div style="padding-left:20px">
            <div class="row d-flex justify-content-left" style="padding-bottom:10px">
                <!-- <a href="#!" class="black-text"> -->
                <h6 th:inline="text" class="h6 pb-1"><i class="fas fa-desktop pr-1"></i>Name:
                    <span th:text="${site.getName()}" th:remove="tag">title</span>
                </h6>
                <!-- </a> -->
            </div>

            <div class="row d-flex justify-content-left" style="padding-bottom:10px">
                <!-- <a href="#!" class="black-text"> -->
                <h6 th:inline="text" class="h6 pb-1"><i class="fas fa-window-maximize pr-1"></i>Contract Name:
                    <span th:text="${site.getContractName()}" th:remove="tag">title</span>
                </h6>
                <!-- </a> -->
            </div>
            <div class="row d-flex justify-content-left" style="padding-bottom:10px">
                <!-- <a href="#!" class="black-text"> -->
                <h6 th:inline="text" class="h6 pb-1"><i class="fas fa-location-arrow pr-1"></i>Address:
                    <span th:text="${site.getAddress()}" th:remove="tag">title</span>
                </h6>
                <!-- </a> -->
            </div>
            <div class="row d-flex justify-content-left" style="padding-bottom:10px">
                <!-- <a href="#!" class="black-text"> -->
                <h6 th:inline="text" class="h6 pb-1"><i class="fas fa-map-marker pr-1"></i>Latitude:
                    <span th:text="${site.getLat()}" th:remove="tag">title</span>
                </h6>
                <!-- </a> -->
            </div>
            <div class="row d-flex justify-content-left" style="padding-bottom:10px">
                <!-- <a href="" class="black-text"> -->
                <h6 th:inline="text" class="h6 pb-1"><i class="fas fa-map-marker pr-1"></i>Longitude:
                    <span th:text="${site.getLng()}" th:remove="tag">title</span>
                </h6>
                <!-- </a> -->
            </div>
            <div class="row d-flex justify-content-left" style="padding-bottom:10px">
                <!-- <a href="#" class="black-text"> -->
                <h6 th:inline="text" class="h6 pb-1"><i class="fas fa-inbox pr-1"></i>Business Contact Email:
                    <span th:text="${site.getBusinessContactEmail()}" th:remove="tag">title</span>
                </h6>
                <!-- </a> -->
            </div>
            <div class="row d-flex justify-content-left" style="padding-bottom:10px">
                <!-- <a href="#" class="black-text"> -->
                <h6 class="h6 pb-1"><i class="fas fa-inbox pr-1"></i>Operations Contact Email:
                    <span th:text="${site.getOperationsContactEmail()}" th:remove="tag">title</span>
                </h6>
                <!-- </a> -->
            </div>
            <div class="row d-flex justify-content-left" style="padding-bottom:10px">
                <!-- <a href="#" class="black-text"> -->
                <h6 class="h6 pb-1"><i class="fas fa-user-secret pr-1"></i>Employees:</h6>
                <!-- </a> -->
                <table class="table">
                    <thead class="blue-gradient white-text">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col"><i class="fa fa-inbox"></i>Email</th>
                        <th scope="col">Type</th>
                        <th scope="col">Detail</th>
                    </tr>
                    </thead>
                    <tbody class="black-text">
                    <tr th:each="employee,iter:${employees}">
                        <th scope="row" th:text="${iter.index+1}"></th>
                        <td th:text="${employee.getUserInfo().getLoginName()}"></td>
                        <td th:text="${employee.getUserInfo().getEmail()}"></td>
                        <td th:text="${employee.getEmployeeType()}"></td>
                        <td>
                            <button class="btn btn-success  btn-sm m-0" type="button"
                                    aria-expanded="false"><i class="fas fa-magic mr-1"></i>Detail</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Grid row -->

        <hr class="my-4">

        <div class="pt-2">
            <a role="button" class="btn btn-blue waves-effect" th:href="@{'/site/edit/'+${site.getId()}}">Edit Site <span
                    class="far fa-gem ml-1"></span></a>
            <a role="button" class="btn btn-outline-primary waves-effect" th:href="@{'/site/add'}">Create New <i
                    class="fas fa-plus-square ml-1"></i></a>
        </div>

    </div>
</div>
<th:block layout:fragment="scripts">
</th:block>