<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/layout}">

<head>
    <title>Index</title>
</head>
<div layout:fragment="page_content" id="page_content">
    <div class="jumbotron text-center hoverable p-4">

        <!-- Grid row -->
        <div class="row">
            <!-- Jumbotron -->
            <div class="jumbotron text-center mdb-color lighten-2 white-text mx-2 mb-5">

                <!-- Title -->
                <h2 class="card-title h2">Material Design for Bootstrap</h2>

                <!-- Subtitle -->
                <p class="my-4 h6">Powerful and free Material Design UI KIT</p>

                <!-- Grid row -->
                <div class="row d-flex justify-content-center">

                    <!-- Grid column -->
                    <div class="col-xl-7 pb-2">

                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga aliquid dolorem ea
                            distinctio exercitationem delectus qui, quas eum architecto, amet quasi accusantium, fugit consequatur
                            ducimus obcaecati numquam molestias hic itaque accusantium doloremque laudantium, totam rem aperiam.
                        </p>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <hr class="my-4 rgba-white-light">

                <div class="pt-2">
                    <button type="button" class="btn btn-outline-white">Buy now <i class="far fa-gem ml-1"></i></button>
                    <button type="button" class="btn btn-outline-white">Download <i class="fas fa-download ml-1"></i></button>
                </div>

            </div>
            <!-- Jumbotron -->
            <!-- Grid column -->
            <div class="col-md-4 offset-md-1 mx-3 my-3">

                <!-- Featured image -->
                <div class="view overlay">
                    <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid"
                         alt="Sample image for first version of blog listing">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-7 text-md-left ml-3 mt-3">

                <!-- Excerpt -->
                <a href="#!" class="green-text">
                    <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i> Work</h6>
                </a>

                <h4 class="h4 mb-4">This is title of the news</h4>

                <p class="font-weight-normal">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque, totam
                    rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
                <p class="font-weight-normal">by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>

                <a class="btn btn-success">Read more</a>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
</div>
