p.error {
    font-weight: bold;
    color: red;
}

div.logout {
    margin-right: 2em;;
}
html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #24355C;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }
}
@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }
}